/** CSS for the usage guide page **/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");

* {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-overflow: ellipsis;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

main {
    position: relative;
  
}

h1 {
    font-size: 35px;
    margin: 75px 0;
}

h2 {
    font-size: 20px;
    margin-left: 10px;
}

h3 {
    font-size: 15px;
    margin-left: 15px;
}

p {
    text-align: justify;
    margin-right: 50px;
    margin-left: 5px;
}

section {
    padding-bottom: 50px;
    width: fit-content;
    max-width: 800px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 111;
    top: 0;
    left: 0;
    background-color: rgb(46, 46, 46);
    overflow-x: hidden;
    padding-top: 80px;
    transition: 0.5s;
    padding-left: 50px;
}

.sidenav a {
    padding: 8px 0;
    text-decoration: none;
    font-size: 17px;
    color: rgb(255, 255, 255);
    display: block;
}

.sidenav .sidenavItem:hover {
    color: rgb(74, 74, 74);
}

.sidenav .sidenavItem {
    padding: 8px 0;
    text-decoration: none;
    font-size: 17px;
    color: rgb(0, 0, 0);
    display: block;
}

.sidenav .triggerSidenav {
    position: absolute;
    top: 0;
    right: 17px;
    font-size: 36px;
    margin-left: 50px;
    transition: 0.5s;
}